language: node_js
before_install:
- openssl aes-256-cbc -K $encrypted_1c6026f033c2_key -iv $encrypted_1c6026f033c2_iv
  -in assets-account-credentials.json.enc -out assets-account-credentials.json -d
deploy:
  provider: gcs
  key_file: assets-account-credentials.json
  bucket: static-idana-assets
  upload-dir: legal-docs
  acl: public-read
  cleanup: true
  edge: true
